.navbar {
    width: 100%;
    /* background-color: white; */
    background: pink;
    border-bottom: 1px solid #e5e7eb;
}

.nav-container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.6rem;
    font-weight: 700;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 24px;
    margin: 0;
    padding: 0;
}

.nav-links a {
    text-decoration: none;
    color: #2563eb;
    font-weight: 500;
}

.nav-links a:hover {
    text-decoration: underline;
}
