.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 2rem;
    gap: 0.5rem;
}

.dropdown,
.search {
    display: flex;
    align-items: center;
}

.label {
    font-weight: 700;
}

.select,
.input {
    height: 2rem;
    margin: 0 0.5rem;
}

.button {
    padding: 0.25rem 0.75rem;
    cursor: pointer;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: stretch;
    }

    .dropdown,
    .search {
        margin-bottom: 0.5rem;
    }

    .select,
    .input {
        flex: 1;
    }

    .button {
        align-self: flex-start;
    }
}