.header {
    border-bottom: 1px solid #e5e7eb;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: pink;
}

.logo {
    font-size: 1.6rem;
    font-weight: 700;
    color: black;
}

.links {
    list-style: none;
    display: flex;
    gap: 24px;
    padding: 0;
    margin: 0;
}

.links a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.toggle {
    padding: 2rem 1rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background-color: #CCCCFF;
    color: #5b5bd7;
}